<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
</head>

<body>
   <div id="app">
      <ul>
         <li v-for="(person, index) of people">{{index+1}}. {{person.name}} - <b>{{person.age}}</b> </li>
      </ul>

      <hr>

      <ol>
         <li v-for="num of 4">{{num}}</li>
      </ol>

      <hr>

      <ul>
         <li v-for="(value, key, index) in person"><em>{{ index+1 }}</em> <b>{{ key }}</b>{{ value }}</li>
      </ul>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

   <script>
      new Vue({
         el: '#app',
         data: {
            people: [
               { name: 'Pizduk', age: 20 },
               { name: 'Alematr', age: 20 },
               { name: 'Uebok', age: 20 },
            ],
            person: {
               name: ' Max',
               age: ' 12',
               job: ' shner'
            }
         },
      },
      )
   </script>
</body>

</html>